<!DOCTYPE html>
{% extends "ambulance/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Виклики</title>
</head>

<body>
{% block main %}
{% if calls_list %}
    <ul>
    <div>
        <h1>Виклики:</h1>
    </div>

     {% for call_number in calls_list %}
        <li><a href="{% url 'ambulance:call_detail' call_number.car_id %}">{{ call_number.call }} {{ call_number.reason }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Немає записів реєстрацї.</p>
{% endif %}
{% endblock %}

</body>
</html>