<!DOCTYPE html>
<html>

<head>
<title>Creative Pearl - Standart Gallery</title>

<meta name="keywords" content="">
<meta name="description" content="">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--[if lt IE 9]>
<script type="text/javascript" src="layout/plugins/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="layout/style.css" type="text/css">
<link rel="stylesheet" href="layout/style-add.css" type="text/css">

<script type="text/javascript" src="layout/js/jquery.js"></script>
<script type="text/javascript" src="layout/js/plugins.js"></script>

<script type="text/javascript" src="layout/js/main.js"></script>
<script type="text/javascript" src="layout/js/twitterfeed.js"></script>

</head>

<body class="alt_layout_2">

	<div class="wrapper sticky_footer">
		<!-- HEADER BEGIN -->
		<header>
			<div id="header">
				<section class="section_top">
					<div class="inner">
						
						<div id="logo"><a href="index.html"><img id="top_logo" src="layout/images/logo_top.png" width="208" height="33" alt="Creative Pearl" title="Creative Pearl"></a></div>
						
						<div class="clearboth"></div>
					</div>
				</section>
				
				<section class="section_bottom">
					<div class="inner">
						<nav class="main_menu">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">Agencies</a></li>
								<li class="current_page_item"><a href="#">Escorts</a>
								
									<ul>
										<li><a href="#">All</a></li>
										<li><a href="#">A tearn</a></li>
										<li><a href="#">Asian</a></li>
										<li><a href="#">Blonde</a></li>
										<li><a href="#">Brunette</a></li>
										<li class="last"><a href="#">Busty</a></li>
									</ul>
								</li>
								<li><a href="#">Individual escorts</a></li>
								<li><a href="#">Info</a></li>
							</ul>
						</nav>
						
						<div class="block_header_search">
							<div class="form">
								<form action="#">
									<div class="field"><input type="text" class="w_def_text" title="Type and press enter"></div>
								</form>
							</div>
						</div>
						
						<div class="block_header_phone">
							<p>Call Us <span>0123-456789</span></p>
						</div>
						
						<div class="clearboth"></div>
						<div class="line_1"></div>
					</div>
				</section>
			</div>
		</header>
		<!-- HEADER END -->
		
		<!-- CONTENT BEGIN -->
		<div id="content" class="">
			<div class="general_content">

				<div class="general_breadcrumbs">
					<ul class="breadcrumbs">
						<li class="unavailable"><a href="#">Escorts</a></li>
						<li class="current"><a href="#">Blonde</a></li>
					</ul>
				</div>

				<div class="block_general_title">
					<div class="block_pagination_1">
						<div class="prev"><a href="#">Previous</a></div>
						<div class="next"><a href="#">Next</a></div>
													
						<div class="clearboth"></div>
					</div>
					<h1>Profile name (Daniela)</h1>
					<h2>of <a href="#">agency (Blue Velvet Girls)</a></h2>
					<div class="line gallery"><div class="icon"></div></div>
				</div>

				<div class="clearboth"></div>
				
				<div class="inner">
					<div class="main_content">




						<div class="block_gallery_item_2">
							
							<div class="gallery">

								<div class="gallery_item h">
									<div class="gallery_item_image">
										<div class="image">
											<img src="images/111_heidi_1.jpg" style="opacity: 1;">
										</div>
									</div>
								</div>

								<div class="gallery_item h">
									<div class="gallery_item_image">
										<div class="image">
											<img src="images/111_heidi_2.jpg" style="opacity: 1;">
										</div>
									</div>
								</div>

								<div class="gallery_item w">
									<div class="gallery_item_image">
										<div class="image">
											<img src="images/111_heidi_3.jpg" style="opacity: 1;">
										</div>
									</div>
								</div>

								<div class="gallery_item h">
									<div class="gallery_item_image">
										<div class="image">
											<img src="images/111_heidi_4.jpg" style="opacity: 1;">
										</div>
									</div>
								</div>

								<div class="gallery_item h">
									<div class="gallery_item_image">
										<div class="image">
											<img src="images/111_heidi_5.jpg" style="opacity: 1;">
										</div>
									</div>
								</div>

							</div>
							
							<div class="details">
								<h3>Contacts</h3>
								
								<ul>
									<li>
										<div class="caption"><b>Angecy:</b></div>
										<div class="specification">
											<a href="#">Name angecy</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Phone:</b></div>
										<div class="specification">
											<a href="tel:+3012332255">+3012332255</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>My website page:</b></div>
										<div class="specification">
											<a href="mailto:111@222.com">My Web Page</a>
										</div>
									</li>
								</ul>

								<h3>Details</h3>
								
								<ul>
									<li>
										<div class="caption"><b>Age:</b></div>
										<div class="specification">
											<a href="#">23</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Height:</b></div>
										<div class="specification">
											<a href="#">5'6" 168cm</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Weight:</b></div>
										<div class="specification">
											<a href="#">58kg</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Dress size:</b></div>
										<div class="specification">
											<a href="#">8</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Breast size:</b></div>
										<div class="specification">
											<a href="#">32B (70B)</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Hair color:</b></div>
										<div class="specification">
											<a href="#">Brunette</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Eye color:</b></div>
										<div class="specification">
											<a href="#">Blue</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Orientation:</b></div>
										<div class="specification">
											<a href="#">Hetero</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Nationality:</b></div>
										<div class="specification">
											<a href="#">Eastern European</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Price:</b></div>
										<div class="specification">
											<a href="#">£500 - £1200</a>
										</div>
									</li>
									<li>
										<div class="caption"><b>Location:</b></div>
										<div class="specification">
											<a href="#">Location1</a>, 
											<a href="#">Location2</a>, 
											<a href="#">Location3</a>
										</div>
										<div class="clearboth"></div>
									</li>
									<li>
										<div class="caption"><b>Language:</b></div>
										<div class="specification">
											<a href="#">Language1</a>, 
											<a href="#">Language2</a>, 
											<a href="#">Language3</a>
										</div>
										<div class="clearboth"></div>
									</li>
									<li>
										<div class="caption"><b>Services:</b></div>
										<div class="specification">
											<a href="#">Services1</a>, 
											<a href="#">Services2</a>, 
											<a href="#">Services3</a>, 
											<a href="#">Services4</a>, 
											<a href="#">Services5</a>, 
											<a href="#">Services6</a>
										</div>
										<div class="clearboth"></div>
									</li>
								</ul>

								<h3>Price</h3>

								<table cellpadding="0" cellspacing="0" class="table_3">
									<tbody>
										<tr>
											<th>Time</th>
											<th>In-call</th>
											<th>Out-call</th>
										</tr>
										
										<tr>
											<td>1 hour</td>
											<td>£500</td>
											<td>£500</td>
										</tr>
										<tr>
											<td>1.5 hours</td>
											<td>£650</td>
											<td>£650</td>
										</tr>
										<tr>
											<td>2 hours</td>
											<td>£800</td>
											<td>£800</td>
										</tr>
										<tr>
											<td>Each additional hr.</td>
											<td>£300</td>
											<td>£300</td>
										</tr>
										<tr>
											<td>Dinner date</td>
											<td>£1200</td>
											<td>£1200</td>
										</tr>
										<tr>
											<td>Overnight</td>
											<td>£2500</td>
											<td>£2500</td>
										</tr>
									</tbody>
								</table>

								<h3>Map</h3>

								<div class="map">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8828956884727!2d-0.16381383422974277!3d51.51536437963656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761acad641068b%3A0x64672e2010b973c8!2sUpper+Berkeley+St%2C+Marylebone%2C+London+W1H+5QD!5e0!3m2!1sen!2suk!4v1469626564836" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
								</div>

								<h3>Info</h3>

								<div class="info_description">
									<p>Amandie Blonde is sweet, sexy and pretty; clear blue eyes, perfect skin and luscious lips combine to give her a sense of purity and innocence, but when she switches on her 'come to bed' smile, you know that there's more to this Eastern European escort than meets the eye. A slim size 8, vivacious Amandie Blonde is perfectly groomed from the top of her blonde head down to her perfectly painted toenails and with her pert 34C breasts and long, long legs she's certainly a stunning companion, especially behind closed doors.</p>									
								</div>

							</div>
							
							<div class="clearboth"></div>
						</div>










					</div>
					
					<div class="clearboth"></div>
				</div>
			</div>
		</div>
		<!-- CONTENT END -->
		
		<!-- FOOTER BEGIN -->
		<footer>
			<div id="footer">
				<section class="section_top">
					<div class="inner">
						<div class="block_footer_widgets">
							<div class="column">
								<div class="content">
									<div class="block_footer_about">
										<div id="logo_footer"><a href="index.html"><img id="bottom_logo" src="images/logo_bottom.png" width="131" height="21" alt="Creative Pearl" title="Creative Pearl"></a></div>
										
										<p>Dulla vitae elit libero, a pharetra augue ullam id dolor id ultricies ut vehicula Integer posuere.</p>
									</div>
								</div>
							</div>
							
							
							<div class="column column_footer_menu">
								<div class="content">
									<div class="block_footer_menu">
										<h4>Works Categories</h4>
										
										<ul>
											<li><a href="#">People</a></li>
											<li><a href="#">Animals</a></li>
											<li><a href="#">Lifestyle</a></li>
											<li><a href="#">Video works</a></li>
											<li><a href="#">Architecture</a></li>
											<li><a href="#">Childrens</a></li>
											<li><a href="#">Landscape</a></li>
											<li><a href="#">Macro</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							
							<div class="clearboth"></div>
						</div>
					</div>
				</section>
				
				<section class="section_bottom">
					<div class="inner">
						<div class="block_developer">
							<p>Theme by <a href="http://themeforest.net/user/WebLionMedia" target="_blank">WebLionMedia</a></p>
						</div>
						
						<div class="block_copyrights">
							<p>Copyright &copy; 2012 <span>CreativePearl</span></p>
						</div>
						
						<div class="clearboth"></div>
					</div>
				</section>
			</div>
		</footer>
		<!-- FOOTER END -->
	</div>
</body>

</html>